@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sunshiney&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
    scroll-behavior: smooth;

}
body{
    background-color: black;
    color: white;
    overflow: hidden;
}
#mainHC{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}
#text{
    text-align: center;
    font-size: 45px;
    line-height: 55px;
    letter-spacing: 2px;
    
    padding: 10%;
}
#name{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    opacity: 0;
    margin-bottom: 7%;
}
#subName{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    opacity: 0;
}
#name{
    animation: textani 0.75s ease-out 1.5s forwards;
}
#subName{    
    animation: textani 0.75s ease-out 1.5s forwards;
}
/*------------*/
.custom-cursor {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    transition: transform 350ms ease;
    transform: translate(-50%, -50%) scale(.3);
    z-index: 1000;
}

.custom-cursor--link {
    transform: translate(-50%, -50%) scale(1);
  }
/*-------------*/

#arrowButton{
    background-color: black;
}

#arrowButton img{
    animation: textani 0.75s ease-out 1.5s forwards;
    opacity: 0;

}


@keyframes textani{
    100%{
        opacity: 1;
    }
}

#content{
    height: 100vh;
}

#cOnMe{
    font-family: 'Sunshiney', cursive;
    opacity: 0;
    animation: textani 0.75s ease-out 1.5s forwards;

}

.logo{
    height: 200px;
    width: 200px;
}

#navPrinc{
    display: flex;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 5%;
    margin-bottom: 2%;
    padding-top: 2%;
}

#navPrinc a{
    text-decoration: none;
    color: white;
    font-size: 35px;
}

main > #content >section:not(:target){
	display: none;
}

.gradientText{
  background-color: red;
  
  background-image: linear-gradient(45deg, #F3896F, #DC78B3);
  
  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

#meP{
    border-radius: 50%;
    height: 325px;
    width: 350px;
    background-image: url('./img/me.jpg');
    
    animation: aniMe 5s;
    animation-delay: 5s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}

#aboutMe{
    margin: 5%;
    display: flex;
    align-items: center;
    margin-left: 15%;
}

#aboutMe p{
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    width: 50%;
    margin-left: 10%;
}

#cv{
    margin: 5%;
    margin-top: 0;
    padding: 2%;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, #F3896F, #DC78B3);
}

#myCv{
    background-color: white;
    padding: 2%;
    color: black;
    font-family: 'Bebas Neue', cursive;
    border-radius: 10px;
}
#myCv p{
    font-size: 25px;
    margin: 2%;
    text-align: center;
    background-color: black;
    color: white;
    padding: 2%;
    border-radius: 10px
}
button{
    border: none;
    background: none;
	color: inherit;
}
#cvbContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
}

#cvbContainer p{
    background: none;
    color: black;
    font-size: 35px;
    margin: 0;
}
.cvButton{
    height: 200px;
    width: 200px;
    background-size: 200px 200px;
    transition: 0.5s;
}

#cvButtonEst{
    background-image: url(./img/estudios.png);
}

#cvButtonTra{
    background-image: url(./img/Trabajos.png);
}

#cvButtonInt{
    background-image: url(./img/Hobbies.png);
}
#cvButtonEst:hover{
    background-image: url(./img/estudios-w.png);
}
#cvButtonTra:hover{
    background-image: url(./img/Trabajos-w.png);
}

#cvButtonInt:hover{
    background-image: url(./img/Hobbies-w.png);
}
